* {
    box-sizing: border-box;
    font-family: "Segoe UI", Arial, Helvetica, sans-serif;
}

h2 {
    text-align:center;
}

h4 {
    font-size: 18px;
}

#head {
    background-color: #2b739e;
    text-align: center;
    color: white;
    padding: 0.5em;
    margin: 30px;
    border-radius: 15px;
}

.container {
    background-color: #2b739e;
    margin: 30px;
    padding: 0.5em;
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.section-child {
    background-color:aqua;
    display: flex; /*Might be able to cut this out */
    flex-wrap: nowrap;
    margin: 15px;
    border-radius: 15px;
    font-size: 18px;
    padding: 0.5em;
    flex-direction: column;
    flex: 1 1 0px;
}

.section-subcontent {
    background-color: bisque;
    font-size: 14px;
    display: flex;
    border-radius: 15px;
    padding: 15px;
    flex-direction:column;
}

.linkbox {
    display:flex;
    flex-direction: column;
    border-left: 3px solid black;
    padding: 5px;
    margin: 5px;
}

.link-item {
    margin: 5px;
}



